* {
  margin: 2px;
  padding: 2px;
  font-family: cursive;
}

button {
  padding: 5px;
}

hr {
  margin: 7px;
  padding: 0px;
}

.allowBtn {
  padding: 5px;
}

.blockBtn {
  cursor: not-allowed;
  pointer-events: none;
  color: gray;
  border: 1px solid white;
  outline: none;
}
